    <!-- footer section -->
    <footer class="container-fluid">
        <div class="sixteen columns" id="footer">       
            <ul id="logo-list">

                  <li><a href="http://ufl.edu"><img alt="University of Florida logo" class="logo-center" src="https://www.idigbio.org/sites/default/files/pamphlet/logos/uf.png" style="width: 60px; height: 60px; "></a></li>
                  <li><a href="http://fsu.edu"><img alt="Florida State University logo" class="logo-center" src="https://www.idigbio.org/sites/default/files/pamphlet/logos/fsu.png" style="width: 60px; height: 60px; "></a></li>
                  <li><a href="http://flmnh.ufl.edu"><img alt="Florida Museum logo" class="logo-center" src="https://www.idigbio.org/sites/default/files/pamphlet/logos/flmnh.png" style="width: 60px; height: 60px; "></a></li>
                  <li><a href="http://nsf.gov"><img alt="National Science Foundation logo" class="logo-center" src="https://www.idigbio.org/sites/default/files/pamphlet/logos/nsf.png" style="width: 60px; height: 60px; "></a></li>
                </ul>
                
                <ul id="social-list">
                  <li><a href="https://www.facebook.com/iDigBio" target="_blank"><img alt="Like iDigBio on Facebook" src="https://www.idigbio.org/sites/default/files/pamphlet/logos/facebook.png"></a></li>
                  <li><a href="https://twitter.com/iDigBio" target="_blank"><img alt="Follow iDigbio on Twitter" src="https://www.idigbio.org/sites/default/files/pamphlet/logos/twitter.png"></a></li>
                  <li><a target="_blank" href="https://vimeo.com/idigbio"><img alt="Vimeo" style="width:32px;height:32px" src="https://www.idigbio.org/sites/default/files/pamphlet/logos/vimeo.png"></a></li>
                  <li><a target="_blank" href="https://www.idigbio.org/rss-feed.xml"><img alt="RSS feed" style="width:32px;height:32px" src="https://www.idigbio.org/sites/default/files/pamphlet/logos/RSS.png"></a></li>
                </ul>

            <p><a href="https://www.facebook.com/iDigBio" target="_blank">Like iDigBio on Facebook</a> | <a href="https://twitter.com/iDigBio" target="_blank">Follow iDigBio on Twitter</a></p>
                <p>Use of this website is subject to iDigBio's&nbsp;<a href="https://www.idigbio.org/content/idigbio-terms-use-policy">Terms of Use</a>&nbsp;and&nbsp;<a href="https://www.idigbio.org/content/idigbio-service-level-agreement-sla">Service Level Agreement</a>.</p>
                <p>This page uses <a href="http://www.google.com/analytics">Google Analytics</a> . <a href="http://www.google.com/intl/en_ALL/privacypolicy.html">Google Privacy Policy</a> © Copyright 2011</p>

        </div>
        <div class="sixteen columns" id="footnote">
            <p>iDigBio is funded by a grant from the National Science Foundation's Advancing Digitization of Biodiversity Collections Program (Cooperative Agreement EF-1115210). Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.</p>
        </div>
  
    </footer>    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50818557-2', 'auto');
  ga('send', 'pageview');

</script>
