{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="iDigBio">
    <link rel="shortcut icon" href="https://www.idigbio.org/sites/default/files/idigbio-mark-128_0.png">

    <title>iDigBio & Lifemapper portal</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'lm/bootstrap/css/bootstrap.min.css' %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="https://www.idigbio.org/portal/css/idigbio.css">
    <link rel="stylesheet" type="text/css" href="{% static 'lm/typeaheadjs.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lm/lm.css' %}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <script src="{% static 'lm/bootstrap/js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'lm/typeahead.bundle.js' %}"></script>

{% include "lm/header.html" %}
{% include "lm/tutorialcontent.html" %}
{% include "lm/footer.html" %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'lm/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'lm/bootstrap/js/docs.min.js' %}"></script>
  </body>
</html>

